
<html>
	<head>
    <script src="Script/angular.js"></script>
    <script src="Script/angular-animate.js"></script>
    <script src="Script/ui-bootstrap-tpls-0.13.3.js"></script>
    <link href="Script/bootstrap.min.css" rel="stylesheet">
  </head>

<body>

<div ng-app="myApp" ng-controller="namesCtrl">

	<h3 class="success" style="text-align: center;">Employee Table</h3>

<div class="container">

	<table class="table">
	<div class="col-sm-4 danger"><input type="text" class="form-control" ng-model="test" placeholder="Search Hear"></div>

		<!----------------------- Dropdown Start --------------New------------------------>
		
		<!----------------------- Dropdown Start -------------------------------------->
			<select ng-model="test"class="btn btn-default">
				<option value="{{emp}}">Select City</option>
			<option ng-repeat="emp in employees" value="{{emp.city}}">{{emp.city}}</option>
			</select>
		<!----------------------- Dropdown End -------------------------------------->
	
	<thead>
      <tr><th></th>
        <th>Emp Name</th>
        <th>Salary</th>
        <th>City</th>
		<th>Email</th>
		<th>Mobile</th>
		 <th>View</th>
      </tr>
    </thead>
		<tbody>
		<tr ng-repeat="emp in employees | filter:test">
			<td>
				{{emp.add}}
			</td>
			<td>
				{{emp.name}}
			</td>
			<td>
				{{emp.salary}}
			</td>
			<td>
				{{emp.city}}
			</td>
			<td>
				{{emp.email}}
			</td>
			<td>
				{{emp.mobile}}
			</td>
			<td><button class="btn btn-primary" ng-click="view(emp);">view</button>
			</td>
		</tr>
			</tbody>
	</table>
</div>
</div>

	<script>
angular.module('myApp', ['ngAnimate', 'ui.bootstrap']).controller('namesCtrl', function($scope, $modal, $log) {
    $scope.employees=[{name:'Nk',salary:20000,city:'Indore',email:'nk.patil11@gmail.com',mobile:9074324732},{name:'Ravi',salary:15000,city:'Indore',email:'ravi@gmail.com',mobile:9876565456},{name:'Rahul',salary:16000,city:'Dhar',email:'rahul11@gmail.com',mobile:9078765676},{name:'Gaurav',salary:17000,city:'Mhow',email:'gaurav11@gmail.com',mobile:9786545454	},{name:'Navin',salary:14000,city:'Delhi',email:'navin@gmail.com',mobile:9564343334},{name:'Chinmay',salary:35000,city:'Mumbai',email:'chinmay@gmail.com',mobile:8878776545},{name:'Gaurav',salary:17000,city:'Dhar',email:'gaurav@gmail.com',mobile:9123456767},{name:'Lucky',salary:23000,city:'Ujjain',email:'lucky@gmail.com',mobile:9876565654},{name:'Monu',salary:16000,city:'Ratlam',email:'monu@gmail.com',mobile:7876565656},{name:'Sonu',salary:17000,city:'Mumbai',email:'sonu@gmail.com',mobile:9987676670},{name:'Mahesh',salary:47000,city:'Dewas',email:'mahesh@gmail.com',mobile:8767553102},{name:'Ravindra',salary:12000,city:'Pune',email:'ravindra@gmail.com',mobile:9898990700}];

	$scope.view=function(emp){
	console.log(emp);
	
$scope.employee=emp;
	var modalInstance = $modal.open({
      animation: $scope.animationsEnabled,
      templateUrl: 'myModalContent.html',
      controller: 'ModalInstanceCtrl',
      size: 'md',
      resolve: {
        employee: function () {
          return $scope.employee;
        }
      }
});
}
}).controller('ModalInstanceCtrl', function($scope, $modalInstance, employee) {
$scope.employee = employee;
  $scope.selected = {
    employee: $scope.employee
  };

  $scope.ok = function () {
    $modalInstance.close($scope.selected.item);
  };

  $scope.cancel = function () {
    $modalInstance.dismiss('cancel');
  };
});
</script>

	</body>
</html>
