<div class="modal-header">
            <h3 class="modal-title">Details Of Employee</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6"><b>Name: </b>{{employee.name}}</div>
                <div class="col-md-6"><b>Salary: </b>{{employee.salary}}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Moblie: </b>{{employee.mobile}}</div>
                <div class="col-md-6"><b>Email: </b>{{employee.email}}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>City: </b>{{employee.city}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>